@import "../../node_modules/foundation-sites/scss/foundation.scss";
/* @include foundation-tabs;*/
$breakpoints: ( xsmall:500px, small: 800px, medium: 1000px, large: 1200px, xlarge: 1400px, xxlarge: 1920px, );
$text-color: #151515;

.tabs {
	border: 0;
	@include breakpoint(large) {
		.tabs-title {
			display: inline-block;
			width: 33%;
			margin-right: 0.5%;
		}

		.tabs-title:last-child {
			margin-right: 0;
		}
	}
}

.tabs-content {
	padding: 2em;

	.tabs-panel {
		.row {
			.columns {
				position: relative;
				@include breakpoint(small down) {
					display: inline-block;
					min-width: 100%;
				}

				.searchBtn {
					position: absolute;
					top: 50%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					@include breakpoint(small down) {
						position: relative;
					}
				}
			}
		}
	}
}

.accordion-item {
	.accordion-title {
		color: $text-color;
		margin-bottom: 0.25rem;

		span {
			font-weight: 400;
		}

		.accordion-title-desc {
			margin: 0;
			padding: 0;
			height: 1rem;
			@include breakpoint(small down) {
				height: 2rem;
				line-height: 1;
			}

			li {
				display: inline-block;
				width: 50%;
				text-transform: capitalize;
				@include breakpoint(small down) {
					width: 100%;
				}
			}
		}
	}
}
/**/
/* .accordion {*/
/* 	.accordion-item {*/
/* 		.accordion-content {*/
/* 			.search-list-info {*/
/* 				@extend .accordion-title-desc;*/
/**/
/* 				li {*/
/* 					display: inline-block;*/
/* 					width: 49%;*/
/**/
/* 					span {*/
/* 						font-weight: bold;*/
/* 					}*/
/* 				}*/
/* 			}*/
/* 		}*/
/* 	}*/
/* }*/
/* */
/* search list title (name,position, department)*/
/**/
/* .accordion-title-desc {*/
/* 	width: 100%;*/
/* 	font-size: 0.88rem;*/
/* 	line-height: 0.88rem;*/
/* 	margin: 0;*/
/* 	padding: 0;*/
/* 	text-transform: capitalize;*/
/**/
/* 	li {*/
/* 		list-style: none;*/
/* 		width: 49%;*/
/* 		display: inline-block;*/
/* 	}*/
/* }*/
.tabs-panel .row {
	.contact-card {
		border: solid 2px blue;
		color: #fff;
		max-width: 48%;
		/* display two columns in a row*/
		margin: 1%;
		/* display two columns in a row*/
		padding: 1rem;
		display: inline-block;
		box-sizing: border-box;
	}
}
/* @media screen and (min-width:75em) {
	// 	/* responsive tabs title width*/
/* 	.tabs .tabs-title {*/
/* 		width: 33%;*/
/* 		margin-right: 0.5%;*/
/* 	}*/
/**/
/* 	.tabs-title:last-child {*/
/* 		margin-right: 0;*/
/* 	}*/
/* }media screen and (min-width:75em) {*/
/**/
/* 	*/
/* responsive tabs title width*/
/**/
/* 	.tabs .tabs-title {*/
/* 		width: 33%;*/
/* 		margin-right: 0.5%;*/
/* 	}*/
/**/
/* 	.tabs-title:last-child {*/
/* 		margin-right: 0;*/
/* 	}*/
/* }*/
@media screen and (max-width: 43em) {
	/* clear left and right margin for mobile page*/
	.contact-card {
		display: block;
		min-width: 100%;
		margin: 0.5rem 0;
	}

	form .row {
		.columns {
			display: block;
			min-width: 100%;
		}
	}
}
/* tabs title nav color*/
/* .tabs {*/
/* 	border-color: $dark-blue;*/
/* 	color: $text-color-white;*/
/**/
/* 	.tabs-title {*/
/* 		background-color: #fff;*/
/* 		text-align: center;*/
/**/
/* 		a {*/
/* 			color: $text-color-white;*/
/**/
/* 			&:hover {*/
/* 				background-color: $dark-blue;*/
/* 				color: $text-color-white;*/
/* 			}*/
/* 		}*/
/* 	}*/
/* }*/
/* .tabs .tabs-title.is-active * {*/
/* 	background-color: $dark-blue;*/
/* 	color: $text-color-white;*/
/* }*/
/* */
/*  tabs border color*/
/**/
/* .tabs-content {*/
/* 	border-color: $dark-blue;*/
/* 	padding: 1.5rem;*/
/* }*/
/* 	padding: 1.5rem;*/
/* }*/
