@import "../../node_modules/foundation-sites/scss/foundation.scss";
/* @include foundation-tabs;*/
$breakpoints: ( xsmall:500px, small: 800px, medium: 1000px, large: 1200px, xlarge: 1400px, xxlarge: 1920px, );
$text-color: #151515;
$darkblue: #003C71;

.tabs {
	border: 0;
	@include breakpoint(large) {
		.tabs-title {
			display: inline-block;
			width: 33%;
			margin-right: 0.5%;
		}

		.tabs-title:last-child {
			margin-right: 0;
		}
	}
}

.tabs-content {
	padding: 1em;
	@include breakpoint (small down) {
		padding: 0;
	};

	.tabs-panel {
		.row {
			.columns {
				position: relative;
				@include breakpoint(small down) {
					display: inline-block;
					min-width: 100%;
				}

				.searchBtn {
					position: absolute;
					top: 50%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					@include breakpoint(small down) {
						position: relative;
					}
				}
			}
		}
	}
}

.callout {
	padding: 2.5rem;
	@include breakpoint (small down ) {
		padding: 1rem;
	};

	.row {
		.columns {
			display: inline-block;
			min-width: 100%;
		}
	}

	.activeFilterBtn {
		background-color: $darkblue;
	}
}

.accordion-item {
	.accordion-title {
		color: $text-color;
		margin-bottom: 0.25rem;

		span {
			font-weight: 400;
		}

		.accordion-title-desc {
			margin: 0;
			padding: 0;
			height: 1rem;
			@include breakpoint(small down) {
				height: 2rem;
				line-height: 1;
			}

			li {
				display: inline-block;
				width: 50%;
				text-transform: capitalize;
				@include breakpoint(small down) {
					width: 100%;
				}
			}
		}
	}
}

.tabs-panel .row {
	.contact-card {
		border: solid 2px blue;
		color: #fff;
		max-width: 48%;
		/* display two columns in a row*/
		margin: 1%;
		/* display two columns in a row*/
		padding: 1rem;
		display: inline-block;
		box-sizing: border-box;
	}
}
@media screen and (max-width: 43em) {
	/* clear left and right margin for mobile page*/
	.contact-card {
		display: block;
		min-width: 100%;
		margin: 0.5rem 0;
	}

	form .row {
		.columns {
			display: block;
			min-width: 100%;
		}
	}
}
