$font: 'Franklin Gothic';
$light-blue: #0077CA;
$dark-blue: #003C71;
$grey: #53565A;
$text-color-white: #fff;

.tabs {
	border-color: $dark-blue;
	color: $text-color-white;

	.tabs-title {
		background-color: $light-blue;
		color: $text-color-white;
		box-sizing: border-box;
		text-align: center;

		.is-active {
			background-color: $dark-blue;
			color: $text-color-white;
		}

		a {
			color: $text-color-white;

			&:hover {
				background-color: $dark-blue;
				color: $text-color-white;
			}
		}
	}
}
@media screen and (min-width:75em) {
	.tabs .tabs-title {
		width: 33%;
		margin-right: 0.5%;
	}

	.tabs-title:last-child {
		margin-right: 0;
	}

	.accordion {
		.accordion-content {
			li {
				display: inline-block;
			}
		}
	}
}

.tabs-content {
	border-color: $dark-blue;
}

.tabs-content-result {
	padding: 1rem;
}
/* clear accordion default left box shadow*/
.accordion {
	.accordion-title {
		box-shadow: none;
	}

	.accordion-content {
		border-left-color: transparent;
		border-right: 0;
	}
}

.profile-list {
	li {
		display: inline-block;
		width: 425px;
	}
}
