$font: 'Franklin Gothic';
$light-blue: #0077CA;
$dark-blue: #003C71;
$grey: #53565A;
$text-color-white: #fff;

.tabs {
	border-color: $dark-blue;
	color: $text-color-white;

	.tabs-title {
		background-color: $light-blue;
		text-align: center;

		a {
			color: $text-color-white;

			&:hover {
				background-color: $dark-blue;
				color: $text-color-white;
			}
		}
	}
}
@media screen and (min-width:75em) {
	.tabs .tabs-title {
		width: 33%;
		margin-right: 0.5%;
	}

	.tabs-title:last-child {
		margin-right: 0;
	}
}

.tabs .tabs-title .is-active {
	background-color: $dark-blue;
	color: $text-color-white;
}

.tabs .tabs-title.is-active * {
	background-color: $dark-blue;
	color: $text-color-white;
}

.tabs-content {
	border-color: $dark-blue;
}

.tabs-list {
	padding: 1rem;
}

.accordion {
	.accordion-content {
		border: 0;
		padding: 0 1rem;
	}

	.accordion-title {
		box-shadow: none;
		max-height: 3rem;
	}
}

.accordion-desc {
	width: 100%;
	margin: 0;
	padding: 0;

	li {
		list-style: none;
		width: 49%;
		display: inline-block;
		font-weight: normal;
	}

	span {
		font-weight: bold;
	}
}

.search-list-info {
	@extend .accordion-desc;

	li {
		display: inline-block;
		box-sizing: border-box;
		width: 49%;

		span {
			font-weight: bold;
		}
	}
}

.contactContainer {
  border:solid 2px $light-blue;
  color:$light-blue;
  margin: 10px;
}

.contactTitle {
	padding: 20px 0 0 20px;
}

.contactNumber {
	padding: 0 20px 0 20px;
}
