<!-- tabs title start -->
<ul class="tabs" data-tabs="" id="tab1" role="tablist">
    <li class="tabs-title is-active" role="presentation" id="searchTab" ng-click="$ctrl.removeSearchResult()">
        <a href="#tab1-1" role="tab" aria-controls="tab1-1" aria-selected="true" id="tab1-1-label">Search</a>
    </li>
    <li class="tabs-title" role="presentation" id="contactsTab" ng-click="$ctrl.removeSearchResult()">
        <a href="#tab1-2" role="tab" aria-controls="tab1-2" aria-selected="false" id="tab1-2-label">Contacts</a>
    </li>
    <li class="tabs-title" role="presentation" id="updateTab" ng-click="$ctrl.removeSearchResult()">
        <a href="#tab1-3" role="tab" aria-controls="tab1-3" aria-selected="false" id="tab1-3-label">Update</a>
    </li>
</ul>
<!-- tabs title end -->
<!-- tabs content start -->
<div class="tabs-content" data-tabs-content="tab1" id="tab1-content">
    <!-- TAB 1 STARTS  -->
    <div class="tabs-panel is-active" id="tab1-1" role="tabpanel" aria-hidden="false" aria-labelledby="tab1-1-label">
        <div class="row">
            <div class="small-12 columns">
                <!-- TAB TITLE  -->
                <h2>Search</h2>
                <br/>
                <p>Enter a first name, a last name, or a department to find a Faculty or Staff member. Partial names can also be used.</p>
            </div>
        </div>
        <!-- INPUT FIELDS FOR FIRST NAME, LAST NAME, AND DEPARTMENT -->
        <form>
            <div class="row">
                <div class="small-12 medium-3 columns">
                    <label>First Name:</label><input type="text" ng-model="searchName.dirpepl_first_name" ng-change="$ctrl.modifyResultResetDropdown()" />
                </div>
                <div class="small-12 medium-3 columns">
                    <label>Last Name:</label><input type="text" ng-model="searchName.dirpepl_last_name" ng-change="$ctrl.modifyResultResetDropdown()" />
                </div>
                <div class="small-12 medium-4 columns">
                    <label for="">Select Department: </label>
                    <!-- SEARCH DEPARTMENT BY INPUT FIELD -->
                    <select ng-model="searchName.dirschl_school_name" ng-options="department for department in departments" ng-change="$ctrl.modifyResultClearInput()">
											<option value="">Select Department</option>
										</select>
                </div>
                <div ng-show="searchName" class="ng-hide small-12 small-centered text-center medium-2 columns" ng-if="searchName.dirschl_school_name || searchName.dirpepl_last_name || searchName.dirpepl_first_name">
                    <p aria-hidden="true"><span class="icon_arrow_down bounce" ng-click="$ctrl.smoothScroll()"></span></p>
                </div>
            </div>
        </form>
    </div>
    <!-- TAB 1 END  -->
    <!-- TAB 2 STARTS -->
    <div class="tabs-panel" id="tab1-2" role="tabpanel" aria-hidden="true" aria-labelledby="tab1-2-label">
        <!-- TAB TITLE  -->
        <h2>General Contacts</h2>
        <br/>
        <!-- CONTACT TITLE  -->
        <h3>Campus services</h3>
        <div class="row">
            <div class="small-6 large-6 medium-6 columns contact-card">
              <p class="contact-title"><b>Bookstore</b></p>
              <p class="contact-number">905.721.3026</p>
            </div>
            <div class="small-6 large-6 medium-6 columns contact-card">
              <p class="contact-title"><b>Campus Fieldhouse</b></p>
              <p class="contact-number">905.721.3122</p>
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-6 medium-6 columns contact-card">
              <p class="contact-title"><b>Campus Ice Centre</b></p>
              <p class="contact-number">905.721.3230</p>
            </div>
            <div class="small-6 large-6 medium-6 columns contact-card">
              <p class="contact-title"><b>Campus Recreation and Wellness Centre</b></p>
              <p class="contact-number">905.721.3040</p>
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-6 medium-6 columns contact-card">
              <p class="contact-title"><b>Campus Security</b></p>
              <p class="contact-number">905.721.8668 ext. 2400</p>
            </div>
            <div class="small-6 large-6 medium-6 columns contact-card">
              <p class="contact-title"><b>Health and Wellness</b></p>
              <p class="contact-number">905.721.3037</p>
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-6 medium-6 columns contact-card">
              <p class="contact-title"><b>Help Desk (Facilities, IT and Media services)</b></p>
              <p class="contact-number">905.721.3333</p>
            </div>
            <div class="small-6 large-6 medium-6 columns contact-card">
              <p class="contact-title"><b>Library</b></p>
              <p class="contact-number">905.721.8668 ext. 2214</p>
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-6 medium-6 columns contact-card">
              <p class="contact-title"><b>Regent Theatre</b></p>
              <p class="contact-number">905.721.3399</p>
            </div>
            <div class="small-6 large-6 medium-6 columns contact-card">
              <p class="contact-title"><b>Shop61</b></p>
              <p class="contact-number">905.721.8668 ext.5695</p>
            </div>
        </div>
        <br/>
        <!-- CONTACT TITLE  -->
        <h3>Student services</h3>
        <div class="row">
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Alumni Office</b></p>
              <p class="contact-number">905.721.8668 ext. 5659</p>
            </div>
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Career Centre</b></p>
              <p class="contact-number">905.721.8668 ext. 3824</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Dental Clinic</b></p>
              <p class="contact-number">905.721.8668 ext. 3074</p>
            </div>
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Flex Centre</b></p>
              <p class="contact-number">905.721.8668 ext. 3715</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Housing</b></p>
              <p class="contact-number">905.721.8668 ext. 8000</p>
            </div>
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Office of Student Life</b></p>
              <p class="contact-number">905.721.8668 ext. 5317</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Pharmacy</b></p>
              <p class="contact-number">905.728.6724</p>
            </div>
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Registrar’s Office and Admissions</b></p>
              <p class="contact-number">905.721.3190</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Student Accessibility Services</b></p>
              <p class="contact-number">905.721.3266</p>
            </div>
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Student Association</b></p>
              <p class="contact-number">905.721.0457</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Student Awards and Financial Aid (SAFA)</b></p>
              <p class="contact-number">905.721.3143</p>
            </div>
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Student Experience Centre</b></p>
              <p class="contact-number">905.721.8668 ext. 3837</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Student Learning Centre</b></p>
              <p class="contact-number">905.721.8668 ext. 6578</p>
            </div>
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Student Life Line</b></p>
              <p class="contact-number">905.721.3392</p>
            </div>
        </div>
        <div class="row">
            <div class="small-12 medium-6 columns contact-card">
              <p class="contact-title"><b>Women’s Centre</b></p>
              <p class="contact-number">905.721.8668 ext. 7615</p>
            </div>
        </div>
        <br/>
        <!-- CONTACT TITLE  -->
        <h3>Academic faculties</h3>
        <div class="row">
            <div class="small-6 large-6 medium-6 columns contact-card" style="border-color:#00558C">
              <p class="contact-title"><span class="fbit"><b>Faculty of Business and Information Technology</b></span></p>
              <span class="contact-number fbit">905.721.8668 ext. 2830</span>
            </div>
            <div class="small-6 large-6 medium-6 columns contact-card" style="border-color:#4F758B">
              <p class="contact-title fed"><span class="fed"><b>Faculty of Education</b></span></p>
              <span class="contact-number fed">905.721.8668 ext. 3181</span>
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-6 medium-6 columns contact-card" style="border-color:#6F263D">
              <p class="contact-title"><span class="fesns"><b>Faculty of Energy Systems and Nuclear Science</b></span></p>
              <span class="contact-number fesns">905.721.8668 ext. 5511</span>
            </div>
            <div class="small-6 large-6 medium-6 columns contact-card" style="border-color:#5F259F">
              <p class="contact-title"><span class="feas"><b>Faculty of Engineering and Applied Science</b></span></p>
              <span class="contact-number feas">905.721.8668 ext. 2988</span>
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-6 medium-6 columns contact-card" style="border-color:#AF272F">
              <p class="contact-title"><span class="fhs"><b>Faculty of Health Sciences</b></span></p>
              <span class="contact-number fhs">905.721.8668 ext. 3166</span>
            </div>
            <div class="small-6 large-6 medium-6 columns contact-card" style="border-color:#007749">
              <p class="contact-title"><span class="fsci"><b>Faculty of Science</b></span></p>
              <span class="contact-number fsci">905.721.8668 ext. 3050</span>
            </div>
        </div>
        <div class="row">
            <div class="small-6 large-6 medium-6 columns contact-card" style="border-color:#BE4D00">
              <p class="contact-title"><span class="fssh"><b>Faculty of Social Science and Humanities</b></span></p>
              <span class="contact-number fssh">905.721.8668 ext. 3234</span>
            </div>
            <div class="small-6 large-6 medium-6 columns contact-card" style="border-color:#000">
              <p class="contact-title"><span class="grad"><b>Office of Graduate Studies</b></span></p>
              <span class="contact-number grad">905.721.8668 ext. 6209</span>
            </div>
        </div>
        <br/>
        <!-- CONTACT TITLE  -->
        <h3>Faculty and staff services</h3>
        <div class="row">
            <div class="small-6 large-6 medium-6 columns contact-card">
              <p class="contact-title"><b>Finance</b></p>
              <p class="contact-number">905.721.3020</p>
            </div>
            <div class="small-6 large-6 medium-6 columns contact-card">
              <p class="contact-title"><b>Social Research Centre (SRC)</b></p>
              <p class="contact-number"> 905.721.8668 ext. 5867</p>
            </div>
        </div>
    </div>
    <!-- TAB 2 END  -->
    <!-- TAB 3 STARTS  -->
    <div class="tabs-panel " id="tab1-3" role="tabpanel" aria-hidden="true" aria-labelledby="tab1-3-label">
        <!-- TAB TITLE  -->
        <h2>Update Information</h2>
        <br/>
        <p>If you are a Faculty or Staff member you can have your directory information updated by filling out the form below.</p>

      <!-- SHOW ERROR/SUCCESS MESSAGES -->
      	<div id="messages" ng-show="message" class="callout primary">{{ message }}</div>

      	<!-- FORM -->
      	<form ng-submit="processForm()" name="updateForm">

      		<div class="row">
      			<div class="small-12 medium-12 columns">
      				<label>BANNER USER ID:<b style="color:red"> *</b><input type="text" name="bannerId" ng-model="formData.bannerId" required/></label>
      			</div>
      		</div>
      		<div class="row">
      			<div class="small-12 medium-6 columns">
      				<label>FIRST NAME:<b style="color:red"> *</b><input type="text" name="firstName" ng-model="formData.firstName" required/></label>
      			</div>
      			<div class="small-12 medium-6 columns">
      				<label>LAST NAME:<b style="color:red"> *</b><input type="text" name="lastName" ng-model="formData.lastName" required/></label>
      			</div>
      		</div>
      		<div class="row">
      			<div class="small-12 medium-6 columns">
      				<label>DEPARTMENT:<b style="color:red"> *</b><input type="text" name="department" ng-model="formData.department" required/></label>
      			</div>
      			<div class="small-12 medium-6 columns">
      				<label>TITLE:<b style="color:red"> *</b><input type="text" name="title" ng-model="formData.title" required/></label>
      			</div>
      		</div>
      		<div class="row">
      			<div class="small-12 medium-6 columns">
      				<label>BUILDING:<b style="color:red"> *</b><input type="text" name="building" ng-model="formData.building" required/></label>
      			</div>
      			<div class="small-12 medium-6 columns">
      				<label>OFFICE:<b style="color:red"> *</b><input type="text" name="office" ng-model="formData.office" required/></label>
      			</div>
      		</div>
      		<div class="row">
      			<div class="small-12 medium-6 columns">
      				<label>EXTENSION:<b style="color:red"> *</b><input type="text" name="extension" ng-model="formData.extension" required/></label>
      			</div>
      			<div class="small-12 medium-6 columns">
      				<label>E-MAIL:<b style="color:red"> *</b><input type="email" name="email" ng-model="formData.email" required/></label>
      			</div>
      		</div>
      		<fieldset class="large-6 columns">
      			<button class="button" type="submit" value="Submit" role="button">Submit</button>
      		</fieldset>
      	</form>
    </div>
</div>

<!-- DISPLAY ANGULAR SEARCH RESULT IN CALLOUT/SERPERATE TAB  -->
<div class="callout ng-hide" id="angularSearch" ng-show="searchName" ng-if="searchName.dirschl_school_name || searchName.dirpepl_last_name || searchName.dirpepl_first_name">
    <div class="search-list">
        <div class="row">
            <div class="small-12 small-centered medium-7 columns searchResults">
                <h3>Directory Search Results</h3>
            </div>
            <div class="small-12 medium-5 small-centered text-center columns searchResults" ng-hide="(currentPage + 1) > $ctrl.numberOfPages()">
                <a class="button small" role="button" ng-click="$ctrl.sortBy('dirpepl_first_name')" ng-class="{activeFilterBtn: order === 'dirpepl_first_name'}">First Name</a>
                <a class="button small" role="button" ng-click="$ctrl.sortBy('dirpepl_last_name')" ng-class="{activeFilterBtn: order === 'dirpepl_last_name'}">Last Name</a>
                <a class="button small" role="button" ng-click="$ctrl.sortBy('dirschl_school_name')" ng-class="{activeFilterBtn: order === 'dirschl_school_name'}" ng-hide='searchSelect'>Departmenst</a>
            </div>
        </div>
        <br/>
        <div class="small-12 columns " ng-hide="(currentPage + 1)> $ctrl.numberOfPages()">
            <p>To reach a Faculty or Staff member dial the main switchboard at 905.721.8668 and ask for the extension listed.</p>
        </div>
        <div class="small-12 columns" ng-show="(currentPage + 1) > $ctrl.numberOfPages()">
            <p>Sorry, no directory search results to display.</p>
        </div>
    </div>

    <!-- FILTER / REPEAT / DISPLAY BASED ON WHAT THE USER TYPES -->
    <ul class="accordion" data-accordion data-allow-all-closed="true">
        <!-- SEARCH DEPARTMENT BY INPUT FIELD -->
        <li class="accordion-item" data-accordion-item ng-repeat="user in users | filter: searchName |  orderBy: propertyName | startFrom:currentPage*pageSize | limitTo:pageSize">
            <!-- SEARCH DEPARTMENT BY DROPDOWN -->
            <a class="accordion-title" ng-click="showDetails = ! showDetails">{{ user.dirpepl_first_name + ' ' + user.dirpepl_last_name }}
									<ul class="accordion-title-desc">
										<li>
											<b>Department:</b>
											{{user.dirschl_school_name}}
										</li>
										<li>
											<b>Title:</b>
											{{user.dirrank_rank_name}}
										</li>
									</ul>
								</a>
            <div class="a-content" ng-class="{ 'hidden': ! showDetails }" data-tab-content>
                <ul class="search-list-info">
                    <li>
                      <b>Building:</b>
                      {{user.dirbuilding_building_name}}
                    </li>
                    <li>
                      <b>Office:</b>
                      {{user.dirpepl_office}}
                    </li>
                    <li>
                      <b>Extension:</b>
                      {{user.dirpepl_extension}}
                    </li>
                    <li>
                      <b>E-mail:</b>
                      <a href="mailto:{{user.email}}">{{user.email}}</a>
                    </li>
                </ul>
            </div>
        </li>
    </ul>

    <!-- PAGINATION - FUNCTIONAL -->
    <ul class="pagination text-center" role="navigation" aria-label="Pagination" ng-hide="(currentPage + 1) > $ctrl.numberOfPages()">
      <li class="pagination-previous">
        <button role="button" ng-disabled="currentPage == 0" ng-click="$ctrl.changePageAndScroll(-1)">
  				<span class="icon_arrow_left"></span> Previous
  	    </button>
      </li>
      <li>
        <button role="button" class="current">
				  {{currentPage+1}} out of {{$ctrl.numberOfPages()}}
			  </button>
      </li>
      <li class="pagination-next">
        <button role="button" ng-disabled="(currentPage + 1) >= $ctrl.numberOfPages()" ng-click="$ctrl.changePageAndScroll(1)">
				  Next <span class="icon_arrow_right"></span>
				</button>
      </li>
    </ul>

</div>
