<!-- tabs title start -->
<ul class="tabs" data-tabs="" data-deep-link="true" data-deep-link-smudge="true" data-deep-link-smudge-delay="600" id="{{ ::$ctrl.ID.DIRECTORY_TABS }}" role="tablist">
  <li class="tabs-title is-active" role="presentation" id="searchTab" ng-click="$ctrl.removeSearchResult()">
    <a href="#tab1-1" role="tab" aria-controls="tab1-1" aria-selected="true" id="tab1-1-label">Directory search</a>
  </li>
  <li class="tabs-title" role="presentation" id="contactsTab" ng-click="$ctrl.removeSearchResult()">
    <a href="#tab1-2" role="tab" aria-controls="tab1-2" aria-selected="false" id="tab1-2-label">Common contacts</a>
  </li>
  <li class="tabs-title" role="presentation" id="updateTab" ng-click="$ctrl.removeSearchResult()">
    <a href="#tab1-3" role="tab" aria-controls="tab1-3" aria-selected="false" id="tab1-3-label">Update your entry</a>
  </li>
</ul>
<!-- tabs title end -->
<!-- tabs content start -->
<div class="tabs-content" data-tabs-content="{{ ::$ctrl.ID.DIRECTORY_TABS }}" id="{{ ::$ctrl.ID.DIRECTORY_TABS_CONTENT }}">
  <!-- TAB 1 STARTS  -->
  <div class="tabs-panel is-active" id="tab1-1" role="tabpanel" aria-hidden="false" aria-labelledby="tab1-1-label">
    <div class="row">
      <div class="xxsmall-12 columns">
        <!-- TAB TITLE  -->
        <h2>Search</h2>
        <br/>
        <p>Enter a first name, a last name, or a department to find a Faculty or Staff member. Partial names can also be used.</p>
      </div>
    </div>
    <!-- INPUT FIELDS FOR FIRST NAME, LAST NAME, AND DEPARTMENT -->
    <form>
      <div class="row">
        <div class="xxsmall-12 medium-3 columns">
          <label>First name:
          <input type="text" ng-model="$ctrl.$state.searchQuery.firstname" ng-change="$ctrl.modifyResultResetDropdown()" ng-model-options="{ debounce: 200 }" />
          <span class="form-error" style="display:block;" ng-show="$ctrl.$state.userError">
          {{ $ctrl.$state.userError }}
          </span>
          </label>
        </div>
        <div class="xxsmall-12 medium-3 columns">
          <label>Last name:
          <input type="text" ng-model="$ctrl.$state.searchQuery.lastname" ng-change="$ctrl.modifyResultResetDropdown()" ng-model-options="{ debounce: 200 }" />
          <span class="form-error" style="display:block;" ng-show="$ctrl.$state.userError">
          {{ $ctrl.$state.userError }}
          </span>
          </label>
        </div>
        <div class="xxsmall-12 medium-3 columns">
          <label for="">
            Select department:
            <!-- SEARCH DEPARTMENT BY INPUT FIELD -->
            <select ng-show="$ctrl.$state.departments" ng-model="$ctrl.$state.searchQuery.department" ng-options="department for department in $ctrl.$state.departments" ng-change="$ctrl.modifyResultClearInput()">
              <option value="">Select department</option>
            </select>
            <select ng-hide="$ctrl.$state.departments" disabled>
              <option value="">Loading departments&hellip;</option>
            </select>
            <span class="form-error" style="display:block;" ng-show="$ctrl.$state.departmentError">
            {{ $ctrl.$state.departmentError }}
            </span>
          </label>
        </div>
        <div class="xxsmall-12 medium-3 columns" ng-if="$ctrl.$state.searchQuery.department || $ctrl.$state.searchQuery.lastname || $ctrl.$state.searchQuery.firstname">
          <button class="button results-button" ng-click="$ctrl.smoothScrollTo($ctrl.ID.SEARCH_RESULTS)" ng-disabled="$ctrl.$state.loadingResults || !$ctrl.$state.users.length">
            <span ng-show="!$ctrl.$state.loadingResults && $ctrl.$state.users.length">Results below &nbsp;<span class="icon_arrow_down bounce"></span></span>
            <span ng-show="$ctrl.$state.loadingResults">Loading results&hellip;</span>
            <span ng-show="!$ctrl.$state.loadingResults && !$ctrl.$state.users.length">No results found!</span>
          </button>
        </div>
      </div>
    </form>
    <p class="lead update-directory-msg"><strong>Notice an incorrect entry?</strong> <a href="#tab1-3" title="Submit an entry update request" target="_self" ng-click="$ctrl.gotoFormAndPopulate($event, {})">Let us know</a> the correct information!</p>
  </div>
  <!-- TAB 1 END  -->
  <!-- TAB 2 STARTS -->
  <div class="tabs-panel" id="tab1-2" role="tabpanel" aria-hidden="true" aria-labelledby="tab1-2-label">
    <div ng-repeat="group in $ctrl.$state.contacts">
      <h3>{{ ::group.category }}</h3>
      <div class="row">
        <span ng-repeat="contact in group.items" class="xxsmall-6 large-6 medium-6 columns contact-card{{ ::(contact.class ? ' contact-faculty ' + contact.class : '') }}">
          <p class="contact-name"><strong>{{ ::contact.name }}</strong></p>
          <p class="contact-phone"><a href="tel:{{ ::contact.phone | telLink }}" title="Place call to {{ ::contact.phone }}">{{ ::contact.phone }}</a></p>
        </span>
      </div>
    </div>
  </div>
  <!-- TAB 2 END  -->
  <!-- TAB 3 STARTS  -->
  <div class="tabs-panel " id="tab1-3" role="tabpanel" aria-hidden="true" aria-labelledby="tab1-3-label">
    <!-- TAB TITLE  -->
    <h2>Update Information</h2>
    <br/>
    <p>If you are a Faculty or Staff member you can have your directory information updated by filling out the form below.</p>
    <p>Alternatively, you may contact <a href="mailto:directory@uoit.ca" title="Contact directory@uoit.ca">directory@uoit.ca</a> directly if you have further questions or concerns.</p>
    <!-- UPDATE FORM -->
    <directory-update-form
      form-data="$ctrl.$state.formData"
      form-status="$ctrl.$state.formStatus"
      on-submit="$ctrl.onUpdateFormSubmit($event)">
    </directory-update-form>
  </div>
</div>
<!-- DISPLAY ANGULAR SEARCH RESULT IN CALLOUT/SERPERATE TAB  -->
<div class="callout" id="{{ ::$ctrl.ID.SEARCH_RESULTS }}" ng-class="{ loading: $ctrl.$state.loadingResults }" ng-if="$ctrl.$state.searchQuery.department || $ctrl.$state.searchQuery.lastname || $ctrl.$state.searchQuery.firstname">
  <div class="search-list">
    <div class="row">
      <div class="xxsmall-12 small-4 medium-5 columns">
        <h3>Directory search results</h3>
      </div>
      <div class="xxsmall-12 xsmall-8 small-6 medium-5 columns" ng-show="$ctrl.$state.users.length">
        <!-- SORT CONTROLS -->
        <directory-sort-controls
          options="$ctrl.$state.sortOptions"
          selected="$ctrl.$state.sortOrder"
          on-changed="$ctrl.sortBy($event)">
        </directory-sort-controls>
      </div>
      <div class="xxsmall-12 xsmall-4 small-2 columns" ng-show="$ctrl.$state.users.length">
        <div class="flex-container align-right align-middle">
          <label id="results_per_page">No. &nbsp;</label>
          <select class="page-size-controls" ng-model="$ctrl.$state.pageSize" aria-labelledby="results_per_page">
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="25">25</option>
            <option ng-value="$ctrl.$state.users.length">View all</option>
          </select>
        </div>
      </div>
      <div class="xxsmall-12 columns">
        <p class="lead" ng-hide="!$ctrl.$state.users.length">To reach a Faculty or Staff member dial the main switchboard at 905.721.8668 and ask for the extension listed.</p>
        <p class="lead" ng-show="!$ctrl.$state.users.length">Sorry, no directory search results to display.</p>
      </div>
    </div>
  </div>
  <!-- FILTER / REPEAT / DISPLAY BASED ON WHAT THE USER TYPES -->
  <ul class="accordion" data-accordion data-allow-all-closed="true">
    <!-- SEARCH DEPARTMENT BY INPUT FIELD -->
    <li class="accordion-item" ng-class="{ 'accordion-item-open': user.show }" data-accordion-item ng-repeat="user in $ctrl.$state.users | filter: $ctrl.$state.searchQuery | orderBy: $ctrl.$state.sortOrder | startFrom: $ctrl.$state.currentPage * $ctrl.$state.pageSize | limitTo: $ctrl.$state.pageSize">
      <!-- SEARCH DEPARTMENT BY DROPDOWN -->
      <a class="accordion-title" ng-click="user.show = !user.show; user.show && $ctrl.getUser(user)">
        {{ ::user.firstname }} {{ ::user.lastname }}
        <ul class="accordion-title-desc">
          <li>
            <strong>Department:</strong>
            {{ ::user.department }}
          </li>
          <li>
            <strong>Title:</strong>
            {{ ::user.position }}
          </li>
        </ul>
      </a>
      <div class="a-content">
        <ul class="search-list-info">
          <li>
            <strong>Building:</strong>
            {{ ::user.building }}
          </li>
          <li>
            <strong>Office:</strong>
            {{ ::user.office && user.office.length ? user.office : 'N/A' }}
          </li>
          <li>
            <strong>Extension:</strong>
            <a href="tel:{{ ::('905.721.8668 ext.' + user.extension) | telLink }}" title="Place call to {{ ::user.firstname }} {{ ::user.lastname }}">{{::user.extension}}</a>
          </li>
          <li>
            <strong>Email:</strong>
            <a href="mailto:{{ ::user.email }}">{{ ::user.email | lowercase }}</a>
          </li>
        </ul>
        <p class="text-right"><small><a href="#tab1-3" title="Submit an entry update request" target="_self" ng-click="$ctrl.gotoFormAndPopulate($event, user)">Notice something wrong?</a></small></p>
        <div ng-if="user.expert">
          <hr/>
          <small ng-hide="user.expert.username">
          <em class="subheader">Checking for Expert profile...</em>
          </small>
          <div class="expert-profile media-object" ng-show="user.expert.username">
            <div class="media-object-section">
              <div class="thumbnail">
                <img ng-src="{{ user.expert.url }}" alt="Photo of {{ user.expert.firstname }} {{ user.expert.lastname }}">
              </div>
            </div>
            <div class="media-object-section main-section">
              <div class="row align-middle">
                <div class="column">
                  <h4>{{ user.expert.firstname }} {{ user.expert.lastname }} <small class="subheader">on UOIT Expert Centre</small></h4>
                  <p class="expert-profile-topics"><a ng-repeat="topic in user.expert.topics" ng-href="https://uoit.ca/expertcentre?q={{ topic.name }}" class="label tertiary">{{ topic.name }}</a></p>
                  <p>{{ user.expert.tagline }}</p>
                </div>
                <div class="column shrink">
                  <a ng-href="https://uoit.ca/expertcentre/expert/{{ user.expert.username }}" class="button hollow">View full profile</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
  <!-- PAGINATION -->
  <directory-pagination
    current-page="$ctrl.$state.currentPage"
    page-size="$ctrl.$state.pageSize"
    number-of-items="$ctrl.$state.users.length"
    on-prev="$ctrl.changePageAndScroll(-1)"
    on-next="$ctrl.changePageAndScroll(1)"
    on-goto="$ctrl.gotoPageAndScroll($event)">
  </directory-pagination>
</div>
