<!-- SHOW ERROR/SUCCESS MESSAGES -->
<div ng-show="$ctrl.formStatus.success || $ctrl.formStatus.error" class="callout"
  ng-class="{ success: $ctrl.formStatus.success, alert: $ctrl.formStatus.error }" data-closable>
  {{ $ctrl.formStatus.success || $ctrl.formStatus.error }}
  <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<!-- FORM -->
<form name="$ctrl.form" ng-submit="$ctrl.form.$valid && $ctrl.onSubmit({
    $event: {
      formData: $ctrl.formData,
      form: $ctrl.form
    }
  })">
  <div class="row">
    <div class="xxsmall-12 medium-12 columns text-right">
      <label>
        Send me a copy of the update request
        <input type="checkbox" name="sendCopy" ng-model="$ctrl.formData.sendCopy" />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="xxsmall-12 medium-6 columns">
      <label>Banner ID:
        <span class="red"> *</span>
        <input type="text" name="bannerId" ng-model="$ctrl.formData.bannerId" ng-minlength="9" ng-minlength="9"
          ng-pattern="'[1Ss]{1}00[0-9]{6}'" required />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="xxsmall-12 medium-6 columns">
      <label>First name:
        <span class="red"> *</span>
        <input type="text" name="firstname" ng-model="$ctrl.formData.firstname" required />
      </label>
    </div>
    <div class="xxsmall-12 medium-6 columns">
      <label>Last name:
        <span class="red"> *</span>
        <input type="text" name="lastname" ng-model="$ctrl.formData.lastname" required />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="xxsmall-12 medium-6 columns">
      <label>Department:
        <span class="red"> *</span>
        <input type="text" name="department" ng-model="$ctrl.formData.department" required />
      </label>
    </div>
    <div class="xxsmall-12 medium-6 columns">
      <label>Title:
        <span class="red"> *</span>
        <input type="text" name="position" ng-model="$ctrl.formData.position" required />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="xxsmall-12 medium-6 columns">
      <label>Building:
        <span class="red"> *</span>
        <input type="text" name="building" ng-model="$ctrl.formData.building" required />
      </label>
    </div>
    <div class="xxsmall-12 medium-6 columns">
      <label>Office:
        <span class="red"> *</span>
        <input type="text" name="office" ng-model="$ctrl.formData.office" required />
      </label>
    </div>
  </div>
  <div class="row">
    <div class="xxsmall-12 medium-6 columns">
      <label>Extension:
        <span class="red"> *</span>
        <input type="text" name="extension" ng-model="$ctrl.formData.extension" required ng-pattern="'[0-9]+'" />
      </label>
    </div>
    <div class="xxsmall-12 medium-6 columns">
      <label>Email:
        <span class="red"> *</span>
        <input type="email" name="email" ng-model="$ctrl.formData.email" required />
      </label>
    </div>
  </div>
  <fieldset class="large-6 columns">
    <button class="button" type="submit" value="Submit" role="button" ng-disabled="$ctrl.form.$invalid">Submit</button>
  </fieldset>
</form>