$font: 'Franklin Gothic';
$light-blue: #0077CA;
$dark-blue: #003C71;
$secondary-orange: #e75d2a;
$text-color-white: #fff;
$text-color-black: #151515;
$accordion-item-background-hover: #0077CA;
$lightgrey : #F6F7F7;
$error : pink;

.activeFilterBtn {
	background-color: $dark-blue;
}

.tabs {
	.tabs-title {
		text-align: center;

		>a {
			padding: 10px;
		}

		@media screen and (min-width:75em) {
			/* responsive tabs title width */
			width: 33%;
			margin-right: 0.5%;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&-content {
		padding: 1rem;
	}
}

.controls-container {
	flex-wrap: wrap;
}

.button-group.sort-controls {
	align-items: center;
	margin-bottom: 0;
}

.page-size-controls {
	margin-left: 1rem;

	select {
		font-size: 0.88rem;
		height: 1.875rem;
		width: auto;
		margin-bottom: 0;
	}
}

/* search list*/
.search-list {
	padding: 1rem;
}

#search-results {
	&.loading {
		opacity: 0.5;
	}
}

.accordion {
	.accordion-item {
		margin-bottom: 1rem;

		&:last-of-type {
			margin-bottom: 0;
		}

		.accordion-title {
			background-color: $lightgrey;
			color: $text-color-black;
			font-size: 18px;
			padding-top: 15px;

			&:hover {
				background-color: $accordion-item-background-hover;
				color: $text-color-white;
			}

			&-desc {
				text-transform: none;
				width: 100%;
				font-size: 0.88rem;
				margin: 0;
				padding: 0;

				li {
					list-style: none;
					width: 49%;
					display: inline-block;
					font-weight: normal;
					margin: 0;
				}

				span {
					font-weight: bold;
				}
			}
		}

		.a-content {
			padding: 1rem 1rem;
			// max-height: calc(2rem + 340px);
			max-height: auto;
			transition: .7s;
			overflow: hidden;

			.search-list-info {
				@extend .accordion-title-desc;

				li {
					display: inline-block;
					box-sizing: border-box;
					width: 49%;

					span {
						font-weight: bold;
					}
				}
			}

			.covid-note {
				color: red;
			}

			.callout {
				margin: 1rem 0 0 0;
			}
		}

		&.accordion-item-open .accordion-title:before {
			transform: translateY(-50%) rotate(0deg);
		}

		&:not(.accordion-item-open) .a-content {
			max-height: 0;
			padding: 0 1rem;
		}
	}
}

// margin for department / title
.page-content ul.accordion li ul:not(.tabs),
.page-content ul.accordion li ol,
.page_content_news ul.accordion li ul:not(.tabs),
.page_content_news ul.accordion li ol {
	margin-top: 8px;
	margin-bottom: 0px;
}

/* .tabs-panel .row {*/
.contact {
	&-card {
		max-width: 48%;
		margin: 1%;
		padding: 1rem;
		display: inline-block;
		box-sizing: border-box;
		margin-bottom: 15px;
		border-width: 2px;
		border-style: solid;

		&:not(.contact-faculty) {
			border-color: $light-blue;
			color: $light-blue;
		}

		&.contact-faculty {
			border-color: inherit;

			.contact-name,
			.contact-phone,
			.contact-phone a {
				color: inherit;
			}
		}
	}

	&-phone {
		margin-bottom: 0;
	}
}

.pagination {
	margin-top: 3rem;

	&-container {

		a.current:hover {
			background: $light-blue;
			cursor: default;
		}
	}

	&-previous a:not(.disabled),
	&-next a:not(.disabled) {
		background-color: $dark-blue;
		color: $text-color-white;

		&:hover {
			background-color: darken($dark-blue, 8%);
		}
	}

	&-previous a:before,
	&-previous.disabled:before,
	&-next a:after,
	&-next.disabled:after {
		content: none;
	}
}

@media screen and (max-width: 43em) {

	/* set min-height in case accordion title overflow */
	.accordion {
		.accordion-title {
			min-height: 4rem;
		}
	}

	/* display vertical */
	.accordion-title-desc {
		li {
			list-style: none;
			width: 100%;
			display: block;
			font-weight: normal;
		}
	}

	/*  clear left and right margin for mobile page */
	.searchResults {
		display: block;
		min-width: 100%;
		margin: 0.5rem 0;
	}

	/*  clear left and right margin for mobile page */
	.contact-card {
		display: block;
		min-width: 100%;
		margin: 0.5rem 0;
	}

	form .row {
		.columns {
			display: block;
			min-width: 100%;
		}
	}
}

.results-button {
	height: 2.4875rem;
	margin-top: 1.375rem;
	line-height: normal;
}

.update-directory-msg {
	margin-bottom: 0;
	margin-top: 1rem;
}

.bounce {
	-moz-animation: bounce 2s infinite;
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@keyframes bounce {

	0%,
	50%,
	80%,
	100% {
		transform: translateY(0) scale(1.2);
	}

	20% {
		transform: translateY(-10px) scale(1.2);
	}

	40% {
		transform: translateY(10px) scaleY(0.85) scaleX(1.55);
	}

	60% {
		transform: translateY(7px) scaleY(0.95) scaleX(1.45);
	}
}

input.ng-invalid.ng-touched {
	background-color: $error;
}

.expert-profile {
	max-height: 300px;

	.thumbnail img {
		max-width: 120px;
	}

	&-topics {
		.button {
			&::before {
				font-size: 0.625rem !important;
			}
		}
	}

	&-header {
		font-size: 2rem;

		.subheader {
			font-size: 1rem;
			font-weight: 900;
			line-height: 1rem;
			display: block;
			color: $secondary-orange;
		}
	}

	@media screen and (max-width: 39.9375em) {
		.thumbnail img {
			max-width: 80px;
		}

		&-topics {
			display: none;
		}
	}
}