$font: 'Franklin Gothic';
$light-blue: #0077CA;
$dark-blue: #003C71;
$text-color-white: #fff;
$text-color-black: #151515;
$accordion-item-background-hover: #0077CA;
$lightgrey : #F6F7F7;
$error : pink;

.activeFilterBtn {
		background-color: $dark-blue;
}

.tabs {
	.tabs-title {
		text-align: center;
		> a {
			padding: 10px;
		}
		@media screen and (min-width:75em) {
			/* responsive tabs title width */
				width: 33%;
				margin-right: 0.5%;

			&:last-child {
				margin-right: 0;
			}
		}
	}

	&-content {
		padding: 1rem;
	}
}

/* search list*/
.search-list {
	padding: 25px;
	padding-bottom: 10px;
}

.searchResults {
	display: inline-block;
}

.accordion {
	.accordion-item {
		margin-bottom: 1rem;
		
		&:last-of-type {
			margin-bottom: 0;
		}

		.accordion-title {
			background-color: $lightgrey;
			color: $text-color-black;
			font-size: 18px;
			padding-top: 15px;

			&:hover {
				background-color: $accordion-item-background-hover;
				color: $text-color-white;
			}

			&-desc {
				text-transform: none;
				width: 100%;
				font-size: 0.88rem;
				margin: 0;
				padding: 0;

				li {
					list-style: none;
					width: 49%;
					display: inline-block;
					font-weight: normal;
					margin: 0;
				}

				span {
					font-weight: bold;
				}
			}
		}

		.a-content {
		// .accordion-content {
			padding: 1rem 1rem;
			max-height: calc(2rem + 340px);
			transition: .7s;
			overflow: hidden;

			.search-list-info {
				@extend .accordion-title-desc;

				li {
					display: inline-block;
					box-sizing: border-box;
					width: 49%;

					span {
						font-weight: bold;
					}
				}
			}
			.callout {
				margin: 1rem 0 0 0;
			}

			&.hidden {
		    max-height: 0;
				padding: 0 1rem;
				// ~ .accordion-title:before {
				// 	content: "–";
				// }
			}

		}

	}
}

// margin for department / title
.page-content ul.accordion li ul:not(.tabs), .page-content ul.accordion li ol, .page_content_news ul.accordion li ul:not(.tabs), .page_content_news ul.accordion li ol {
	margin-top: 8px;
	margin-bottom: 0px;
}

/* .tabs-panel .row {*/
.contact {
	&-card {
		max-width: 48%;
		margin: 1%;
		padding: 1rem;
		display: inline-block;
		box-sizing: border-box;
		margin-bottom: 15px;
		border-width: 2px;
		border-style: solid;

		&:not(.contact-faculty) {			
			border-color: $light-blue;
			color: $light-blue;
		}

		&.contact-faculty {
			border-color: inherit;
			.contact-name,
			.contact-phone,
			.contact-phone a {
				color: inherit;
			}
		}
	}

	&-phone {
		margin-bottom: 0;
	}
}

.pagination {
	margin-top: 3rem;
}

.pagination a:hover, .pagination button:hover {
	background: $dark-blue;
	color: $text-color-white;
	cursor: pointer;
}

.pagination .current:hover {
	background: $light-blue;
	color: $text-color-white;
	cursor: default;
}

// @media screen and (min-width:75em) {
// 	/* responsive tabs title width */
// 	.tabs .tabs-title {
// 		width: 33%;
// 		margin-right: 0.5%;
// 	}
//
// 	.tabs-title:last-child {
// 		margin-right: 0;
// 	}
// }

@media screen and (max-width: 43em) {
	/* set min-height in case accordion title overflow*/
	.accordion {
		.accordion-title {
			min-height: 4rem;
		}
	}
	/* display verticle*/
	.accordion-title-desc {
		li {
			list-style: none;
			width: 100%;
			display: block;
			font-weight: normal;
		}
	}
	/*  clear left and right margin for mobile page*/
	.searchResults{
		display: block;
		min-width: 100%;
		margin: 0.5rem 0;
	}

	/*  clear left and right margin for mobile page*/
	.contact-card {
		display: block;
		min-width: 100%;
		margin: 0.5rem 0;
	}

	form .row {
		.columns {
			display: block;
			min-width: 100%;
		}
	}
}

// icon arrow down - search tab
.icon_arrow_down {
	color: $light-blue;
	font-size: 40px;
	margin-top: 15px;
}

.icon_arrow_down:hover {
	cursor: pointer;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(15px);
  }
  60% {
    transform: translateY(15px);
  }
}

input.ng-invalid.ng-touched {
  background-color: $error;
}

.expert-profile {
	max-height: 300px;
	.thumbnail img {
		max-width: 120px;
	}
	.label:not(:last-of-type) {
		margin-right: 0.25rem;
	}
}
